.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

results/
!results/.gitkeep

dist/
build/

.env
.env.*

.vscode/
.idea/

*.log

_Lab1_copy.docx
_Lab2_copy.docx
_Lab3_copy.docx
_MiniProjet_copy.pptx
